@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: oklch(21% 0.034 264.665);
  font-family: var(--font-context);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-title);
  --font-context: var(--font-context);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

p, body {
  font-family: var(--font-context);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
