@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

@theme {
  --color-gold: oklch(0.8693 0.0153 94.22);

  --color-gray-100: oklch(0.9572 0.0034 247.86);
  --color-gray-200: oklch(0.882 0.0101 267.35);
  --color-gray-300: oklch(0.7979 0.0134 266.68);
  --color-gray-400: oklch(0.699 0.0184 267.73);
  --color-gray-500: oklch(0.6121 0.0148 262.35);
  --color-gray-600: oklch(0.4382 0.0192 266.1);
  --color-gray-700: oklch(0.3169 0.0209 265.92);
  --color-gray-800: oklch(0.2175 0.0278 262.43);
  --color-gray-900: oklch(0.1213 0.0248 256.33);

  --color-blue-100: oklch(0.9693 0.0144 264.5);
  --color-blue-200: oklch(0.8991 0.0456 264.92);
  --color-blue-300: oklch(0.8249 0.0741 264.5);
  --color-blue-400: oklch(0.7268 0.1295 263.5);
  --color-blue-500: oklch(0.6388 0.1676 261.09);
  --color-blue-600: oklch(0.5733 0.215 261.91);
  --color-blue-700: oklch(0.437 0.1879 263.82);
  --color-blue-800: oklch(0.3602 0.1685 265.82);
  --color-blue-900: oklch(0.2271 0.1135 268.03);

  --color-olive-100: oklch(0.98 0.0034 145.55);
  --color-olive-200: oklch(0.9049 0.0193 140.5);
  --color-olive-300: oklch(0.8455 0.0214 140.89);
  --color-olive-400: oklch(0.7575 0.022 140.88);
  --color-olive-500: oklch(0.6502 0.0241 138.98);
  --color-olive-600: oklch(0.5754 0.0324 140.45);
  --color-olive-700: oklch(0.485 0.0337 140.43);
  --color-olive-800: oklch(0.3508 0.0321 139.8);
  --color-olive-900: oklch(0.2743 0.028 140.74);

  --color-red-100: oklch(0.9659 0.0152 22.4);
  --color-red-200: oklch(0.9269 0.0323 22.47);
  --color-red-300: oklch(0.8228 0.084 23.57);
  --color-red-400: oklch(0.7557 0.1211 24.64);
  --color-red-500: oklch(0.6565 0.1931 28.59);
  --color-red-600: oklch(0.5649 0.2168 30.12);
  --color-red-700: oklch(0.4585 0.1755 30.12);
  --color-red-800: oklch(0.3709 0.1397 30.3);
  --color-red-900: oklch(0.2728 0.1032 32.07);

  --color-yellow-100: oklch(0.9943 0.0171 103.14);
  --color-yellow-200: oklch(0.9676 0.0805 101.68);
  --color-yellow-300: oklch(0.9294 0.1238 98.38);
  --color-yellow-400: oklch(0.8973 0.1607 94.73);
  --color-yellow-500: oklch(0.7941 0.162451 86.645);
  --color-yellow-600: oklch(0.6065 0.124 87);
  --color-yellow-700: oklch(0.475 0.0971 87.87);
  --color-yellow-800: oklch(0.3896 0.0796 89.07);
  --color-yellow-900: oklch(0.2787 0.057 91.01);

}


:root {
  font-family: var(--font-context);
  /* shadcn */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: var(--color-gray-900);
  --card: oklch(1 0 0);
  --card-foreground: var(--color-gray-900);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--color-gray-900);
  --primary: var(--color-gray-800);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-800);
  --muted: var(--color-gray-100);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: var(--color-gray-100);
  --accent-foreground: var(--color-gray-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: var(--color-gray-800);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: var(--color-gray-100);
  --sidebar-accent-foreground: var(--color-gray-800);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

/* @theme {
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);  
  --color-red-200: oklch(0.885 0.062 18.334);  
  --color-red-300: oklch(0.808 0.114 19.571);  
  --color-red-400: oklch(0.704 0.191 22.216);  
  --color-red-500: oklch(0.637 0.237 25.331);  
  --color-red-600: oklch(0.577 0.245 27.325);  
  --color-red-700: oklch(0.505 0.213 27.518);  
  --color-red-800: oklch(0.444 0.177 26.899);  
  --color-red-900: oklch(0.396 0.141 25.723);  
  --color-red-950: oklch(0.258 0.092 26.042);

  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);

} */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-title: var(--font-title);
  --font-context: var(--font-context);
  /* shadcn */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

p, body, div, input {
  font-family: var(--font-context);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* shadcn */
.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
